body {
  font-family: 'Lato', sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.nav a {
  color: #232323;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 1rem;
}

.nav a:hover,
.nav a.active {
  color: #64B257;
}

.page-heading {
  text-align: center;
  margin:  3rem 0;
  position: relative;
  padding-bottom: 2rem;
}

.page-heading:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -.5rem;
  width: 1rem;
  height: .25rem;
  background-color: #64B257;
}

.page-heading *:first-child {
  margin-top: 0;
}

.page-heading *:last-child {
  margin-bottom: 0;
}

.title {
  font-weight: bold;
  font-size: 2.5rem;
  color: #64B257;
}

.subtitle {
  font-size: 1.4rem;
  margin-top: -1rem;
  color: #898989;
  font-weight: 300;
}

.card-container {
  margin: 2rem auto;
}

.btn {
  background: #5C80BC;
  color: #fff;
  border:  none;
  border-radius: 4px;
  font-size: 1rem;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition:  all ease .1s;
}

.btn:hover,
.btn:focus {
  background: #2D64BC;
}

.btn:focus {
  outline:  none;
}

.card {
  box-shadow:
    0 4px 8px 0 rgba(0,0,0,0.12),
    0 2px 4px 0 rgba(0,0,0,0.08);
  border-radius:  4px;
  max-width: 360px;
  margin: 0 auto;
  overflow: hidden;
  display: inline-block;
  text-decoration: none;
  transition: transform .3s ease-in, box-shadow .3s ease-in;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow:
    0 15px 30px 0 rgba(0,0,0,0.11),
    0 5px 15px 0 rgba(0,0,0,0.08);
}

.card-body {
  padding: 1.5rem 1rem;
}

.card-title {
  margin-top: 0;
  margin-bottom: 1rem;
  color: #232323;
}

.card-subtitle {
  margin-top: -.5rem;
  margin-bottom: .5rem;
  color: #898989;
}

img.fit {
  width: 100%;
}


.fade-enter {
  opacity: 0.01;
  transform: scale(0.9);
}
.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all .6s ease-out;
}
.fade-exit {
  opacity: 1;
  transform: scale(1);
}
.fade-exit-active {
  opacity: 0.01;
  transform: scale(0.9);
  transition: all .6s ease-out;
}
